body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.fl {
    float: left!important;
}
.fr {
    float: right!important;
}
.container {
    margin: 0 auto;
    width: 68%;
    overflow: hidden;
}
.cursor {
    cursor: pointer;
}

/* 过渡 */
.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s ease;
}
.fade-enter,
.fade-leave {
    opacity: 0;
}
.mt30 {
    margin-top: 30px;
}
.divider {
    border-bottom: 1px solid rgb(230, 230, 230);
    margin: 20px 0;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}