body,html {
    margin: 0;
    padding: 0;
}
.fl {
    float: left!important;
}
.fr {
    float: right!important;
}
.container {
    margin: 0 auto;
    width: 68%;
    overflow: hidden;
}
.cursor {
    cursor: pointer;
}

/* 过渡 */
.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s ease;
}
.fade-enter,
.fade-leave {
    opacity: 0;
}