<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lutayy.campbackend.dao.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.lutayy.campbackend.pojo.Activity">
    <id column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="activity_fee" jdbcType="DECIMAL" property="activityFee" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="activity_introduction" jdbcType="VARCHAR" property="activityIntroduction" />
    <result column="activity_date" jdbcType="TIMESTAMP" property="activityDate" />
    <result column="activity_length_min" jdbcType="INTEGER" property="activityLengthMin" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="activity_address" jdbcType="VARCHAR" property="activityAddress" />
    <result column="open_time" jdbcType="TIMESTAMP" property="openTime" />
    <result column="close_time" jdbcType="TIMESTAMP" property="closeTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    activity_id, activity_fee, activity_name, activity_introduction, activity_date, activity_length_min, 
    contacts, activity_address, open_time, close_time
  </sql>
  <select id="selectByExample" parameterType="com.lutayy.campbackend.pojo.ActivityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activity
    where activity_id = #{activityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity
    where activity_id = #{activityId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lutayy.campbackend.pojo.ActivityExample">
    delete from activity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lutayy.campbackend.pojo.Activity">
    <selectKey keyProperty="activityId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into activity (activity_fee, activity_name, activity_introduction, 
      activity_date, activity_length_min, contacts, 
      activity_address, open_time, close_time
      )
    values (#{activityFee,jdbcType=DECIMAL}, #{activityName,jdbcType=VARCHAR}, #{activityIntroduction,jdbcType=VARCHAR}, 
      #{activityDate,jdbcType=TIMESTAMP}, #{activityLengthMin,jdbcType=INTEGER}, #{contacts,jdbcType=VARCHAR}, 
      #{activityAddress,jdbcType=VARCHAR}, #{openTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lutayy.campbackend.pojo.Activity">
    <selectKey keyProperty="activityId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityFee != null">
        activity_fee,
      </if>
      <if test="activityName != null">
        activity_name,
      </if>
      <if test="activityIntroduction != null">
        activity_introduction,
      </if>
      <if test="activityDate != null">
        activity_date,
      </if>
      <if test="activityLengthMin != null">
        activity_length_min,
      </if>
      <if test="contacts != null">
        contacts,
      </if>
      <if test="activityAddress != null">
        activity_address,
      </if>
      <if test="openTime != null">
        open_time,
      </if>
      <if test="closeTime != null">
        close_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityFee != null">
        #{activityFee,jdbcType=DECIMAL},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityIntroduction != null">
        #{activityIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="activityDate != null">
        #{activityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="activityLengthMin != null">
        #{activityLengthMin,jdbcType=INTEGER},
      </if>
      <if test="contacts != null">
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="activityAddress != null">
        #{activityAddress,jdbcType=VARCHAR},
      </if>
      <if test="openTime != null">
        #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null">
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lutayy.campbackend.pojo.ActivityExample" resultType="java.lang.Long">
    select count(*) from activity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update activity
    <set>
      <if test="record.activityId != null">
        activity_id = #{record.activityId,jdbcType=INTEGER},
      </if>
      <if test="record.activityFee != null">
        activity_fee = #{record.activityFee,jdbcType=DECIMAL},
      </if>
      <if test="record.activityName != null">
        activity_name = #{record.activityName,jdbcType=VARCHAR},
      </if>
      <if test="record.activityIntroduction != null">
        activity_introduction = #{record.activityIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.activityDate != null">
        activity_date = #{record.activityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.activityLengthMin != null">
        activity_length_min = #{record.activityLengthMin,jdbcType=INTEGER},
      </if>
      <if test="record.contacts != null">
        contacts = #{record.contacts,jdbcType=VARCHAR},
      </if>
      <if test="record.activityAddress != null">
        activity_address = #{record.activityAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.openTime != null">
        open_time = #{record.openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.closeTime != null">
        close_time = #{record.closeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update activity
    set activity_id = #{record.activityId,jdbcType=INTEGER},
      activity_fee = #{record.activityFee,jdbcType=DECIMAL},
      activity_name = #{record.activityName,jdbcType=VARCHAR},
      activity_introduction = #{record.activityIntroduction,jdbcType=VARCHAR},
      activity_date = #{record.activityDate,jdbcType=TIMESTAMP},
      activity_length_min = #{record.activityLengthMin,jdbcType=INTEGER},
      contacts = #{record.contacts,jdbcType=VARCHAR},
      activity_address = #{record.activityAddress,jdbcType=VARCHAR},
      open_time = #{record.openTime,jdbcType=TIMESTAMP},
      close_time = #{record.closeTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lutayy.campbackend.pojo.Activity">
    update activity
    <set>
      <if test="activityFee != null">
        activity_fee = #{activityFee,jdbcType=DECIMAL},
      </if>
      <if test="activityName != null">
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityIntroduction != null">
        activity_introduction = #{activityIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="activityDate != null">
        activity_date = #{activityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="activityLengthMin != null">
        activity_length_min = #{activityLengthMin,jdbcType=INTEGER},
      </if>
      <if test="contacts != null">
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="activityAddress != null">
        activity_address = #{activityAddress,jdbcType=VARCHAR},
      </if>
      <if test="openTime != null">
        open_time = #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null">
        close_time = #{closeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where activity_id = #{activityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lutayy.campbackend.pojo.Activity">
    update activity
    set activity_fee = #{activityFee,jdbcType=DECIMAL},
      activity_name = #{activityName,jdbcType=VARCHAR},
      activity_introduction = #{activityIntroduction,jdbcType=VARCHAR},
      activity_date = #{activityDate,jdbcType=TIMESTAMP},
      activity_length_min = #{activityLengthMin,jdbcType=INTEGER},
      contacts = #{contacts,jdbcType=VARCHAR},
      activity_address = #{activityAddress,jdbcType=VARCHAR},
      open_time = #{openTime,jdbcType=TIMESTAMP},
      close_time = #{closeTime,jdbcType=TIMESTAMP}
    where activity_id = #{activityId,jdbcType=INTEGER}
  </update>
</mapper>