<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lutayy.campbackend.dao.CertificateChangeOrderNewMemberNameMapper">
  <resultMap id="BaseResultMap" type="com.lutayy.campbackend.pojo.CertificateChangeOrderNewMemberName">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="change_order_key_id" jdbcType="INTEGER" property="changeOrderKeyId" />
    <result column="new_member_name" jdbcType="VARCHAR" property="newMemberName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, change_order_key_id, new_member_name
  </sql>
  <select id="selectByExample" parameterType="com.lutayy.campbackend.pojo.CertificateChangeOrderNewMemberNameExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from certificate_change_order_new_member_name
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from certificate_change_order_new_member_name
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from certificate_change_order_new_member_name
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lutayy.campbackend.pojo.CertificateChangeOrderNewMemberNameExample">
    delete from certificate_change_order_new_member_name
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lutayy.campbackend.pojo.CertificateChangeOrderNewMemberName">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into certificate_change_order_new_member_name (change_order_key_id, new_member_name)
    values (#{changeOrderKeyId,jdbcType=INTEGER}, #{newMemberName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lutayy.campbackend.pojo.CertificateChangeOrderNewMemberName">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into certificate_change_order_new_member_name
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="changeOrderKeyId != null">
        change_order_key_id,
      </if>
      <if test="newMemberName != null">
        new_member_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="changeOrderKeyId != null">
        #{changeOrderKeyId,jdbcType=INTEGER},
      </if>
      <if test="newMemberName != null">
        #{newMemberName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lutayy.campbackend.pojo.CertificateChangeOrderNewMemberNameExample" resultType="java.lang.Long">
    select count(*) from certificate_change_order_new_member_name
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update certificate_change_order_new_member_name
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.changeOrderKeyId != null">
        change_order_key_id = #{record.changeOrderKeyId,jdbcType=INTEGER},
      </if>
      <if test="record.newMemberName != null">
        new_member_name = #{record.newMemberName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update certificate_change_order_new_member_name
    set id = #{record.id,jdbcType=INTEGER},
      change_order_key_id = #{record.changeOrderKeyId,jdbcType=INTEGER},
      new_member_name = #{record.newMemberName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lutayy.campbackend.pojo.CertificateChangeOrderNewMemberName">
    update certificate_change_order_new_member_name
    <set>
      <if test="changeOrderKeyId != null">
        change_order_key_id = #{changeOrderKeyId,jdbcType=INTEGER},
      </if>
      <if test="newMemberName != null">
        new_member_name = #{newMemberName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lutayy.campbackend.pojo.CertificateChangeOrderNewMemberName">
    update certificate_change_order_new_member_name
    set change_order_key_id = #{changeOrderKeyId,jdbcType=INTEGER},
      new_member_name = #{newMemberName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>